{
    email support@foxdesk.net
}

(foxdesk_proxy) {
    encode zstd gzip

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        Referrer-Policy strict-origin-when-cross-origin
        -Server
    }

    reverse_proxy app:80
}

{$APP_HOST} {
    import foxdesk_proxy
}

{$APP_MARKETING_HOST} {
    import foxdesk_proxy
}

http://{$APP_FALLBACK_HOST} {
    import foxdesk_proxy
}
